<section>
  <div class="page-header">
    <div class="actions" >
    </div>

    <h1>
      <i class="md md-camera"></i>
      VbsStatus entity
    </h1>
    <p class="lead">
      You can customize this entity...
    </p>
  </div>
</section>

<div>


    <div class="table-responsive well no-padding white no-margin">
      <h3 class="table-title"></h3>
<form>
      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
        <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
          <th>Field</th>
          <th>Translation</th>
          <th>Key</th>
          <th>Composite Key</th>
          <th>Foreign Key</th>
          <th>Inv. relation</th>
          <th>Required</th>
          <th>Indexed</th>
          <th>Main</th>
          <th>EDIT</th>
         </tr>
        </thead>
        <tbody>
		  <tr>
          	<td><b>Id</b></td>
          	<td>{{ 'Id' | translate }}</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
          </tr>
		  
		  <tr>
          	<td><b>FlowId</b></td>
          	<td>{{ 'FlowId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.flowId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.flowId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>IdVbsFlow</b></td>
          	<td>{{ 'IdVbsFlow' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.idVbsFlow"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.idVbsFlow"/></td>
          </tr>
		  
		  <tr>
          	<td><b>Status</b></td>
          	<td>{{ 'Status' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.status"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.status"/></td>
          </tr>
		  
		  <tr>
          	<td><b>IdVbsDiff</b></td>
          	<td>{{ 'IdVbsDiff' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.idVbsDiff"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.idVbsDiff"/></td>
          </tr>
		  
		  <tr>
          	<td><b>IdVbsFlowUnit</b></td>
          	<td>{{ 'IdVbsFlowUnit' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.idVbsFlowUnit"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.idVbsFlowUnit"/></td>
          </tr>
		  
		  <tr>
          	<td><b>CreateDate</b></td>
          	<td>{{ 'CreateDate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.createDate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.createDate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ErrorCd</b></td>
          	<td>{{ 'ErrorCd' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.errorCd"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.errorCd"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ErrorDesc</b></td>
          	<td>{{ 'ErrorDesc' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.errorDesc"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.errorDesc"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ErrorCount</b></td>
          	<td>{{ 'ErrorCount' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.errorCount"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.errorCount"/></td>
          </tr>
		  
        </tbody>
      </table>
      
      <div class="form-group">
      	<div class="col-lg-20 col-lg-offset-2">
        	<button type="submit" class="btn btn-primary" ng-click="saveConfig(configValue)">Save</button>
        </div>
      </div>
      </form>      
    </div>

<div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()"  data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="{{ 'SCROLL_TO_TOP' | translate }}" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <div class="btn btn-primary btn-round btn-lg" ui-sref="createVbsStatus()" data-title="New {{settings.singular}}" bs-tooltip><i class="md md-add"></i></div>
  </div>

</div>