
<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
  <div class="close">
    <div class="btn btn-round btn-info" ng-click="$hide()" data-title="{{ 'CLOSE' | translate }}" bs-tooltip><i class="md md-close"></i></div>
  </div>

  <div class="aside-dialog">
    <div class="aside-body bs-sidebar">

      <form class="form-floating" novalidate="novalidate" ng-submit="startSearch(savedSearch)">
        <fieldset>
          <legend><span ng-bind-html="savedSearch.icon"></span> {{cmd}} {{settings.singular}} search</legend>

		
		
			<div class="form-group filled">
		    <label class="control-label">FlowId</label>
                    <input type="text" class="form-control" ng-model="savedSearch.flowId">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DateTreatment</label>
                	<input type="text" class="form-control" ng-model="savedSearch.dateTreatment" data-autoclose="1" placeholder="{{ 'dateTreatment' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">LastUpdate</label>
                	<input type="text" class="form-control" ng-model="savedSearch.lastUpdate" data-autoclose="1" placeholder="{{ 'lastUpdate' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SiteCd</label>
                    <input type="text" class="form-control" ng-model="savedSearch.siteCd">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">IdRoot</label>
                	<input type="text" class="form-control" ng-model="savedSearch.idRoot">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DocNbr</label>
                	<input type="text" class="form-control" ng-model="savedSearch.docNbr">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SplitPart</label>
                	<input type="text" class="form-control" ng-model="savedSearch.splitPart">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SplitTotal</label>
                	<input type="text" class="form-control" ng-model="savedSearch.splitTotal">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Version</label>
                	<input type="text" class="form-control" ng-model="savedSearch.version">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Flowref</label>
                    <input type="text" class="form-control" ng-model="savedSearch.flowref">
                </div>
		
		

          <div class="form-group">
            <button type="button" ng-click="clearSavedSearch()" class="btn btn-lg btn-primary">{{ 'CLEAR' | translate }}</button>
            <button type="submit" class="btn btn-lg btn-primary">{{ 'SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>

	  <form class="form-floating" novalidate="novalidate" ng-submit="startElasticSearch(savedSearch)">
        <fieldset>
      
          <div class="form-group filled">
            <label class="control-label">{{ 'QUERY' | translate }}</label>
            <input type="text" class="form-control" ng-model="savedSearch.query" required>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary" >{{ 'ELASTIC_SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>
          
          
    </div>
  </div>
</div>