<section>
  <div class="page-header">
    <div class="actions" >
    </div>

    <h1>
      <i class="md md-camera"></i>
      VbsFlow entity
    </h1>
    <p class="lead">
      You can customize this entity...
    </p>
  </div>
</section>

<div>


    <div class="table-responsive well no-padding white no-margin">
      <h3 class="table-title"></h3>
<form>
      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
        <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
          <th>Field</th>
          <th>Translation</th>
          <th>Key</th>
          <th>Composite Key</th>
          <th>Foreign Key</th>
          <th>Inv. relation</th>
          <th>Required</th>
          <th>Indexed</th>
          <th>Main</th>
          <th>EDIT</th>
         </tr>
        </thead>
        <tbody>
		  <tr>
          	<td><b>Id</b></td>
          	<td>{{ 'Id' | translate }}</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
          </tr>
		  
		  <tr>
          	<td><b>FlowId</b></td>
          	<td>{{ 'FlowId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.flowId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.flowId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DateTreatment</b></td>
          	<td>{{ 'DateTreatment' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.dateTreatment"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.dateTreatment"/></td>
          </tr>
		  
		  <tr>
          	<td><b>LastUpdate</b></td>
          	<td>{{ 'LastUpdate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.lastUpdate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.lastUpdate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SiteCd</b></td>
          	<td>{{ 'SiteCd' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.siteCd"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.siteCd"/></td>
          </tr>
		  
		  <tr>
          	<td><b>IdRoot</b></td>
          	<td>{{ 'IdRoot' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.idRoot"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.idRoot"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocNbr</b></td>
          	<td>{{ 'DocNbr' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docNbr"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docNbr"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SplitPart</b></td>
          	<td>{{ 'SplitPart' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.splitPart"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.splitPart"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SplitTotal</b></td>
          	<td>{{ 'SplitTotal' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.splitTotal"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.splitTotal"/></td>
          </tr>
		  
		  <tr>
          	<td><b>Version</b></td>
          	<td>{{ 'Version' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.version"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.version"/></td>
          </tr>
		  
		  <tr>
          	<td><b>Flowref</b></td>
          	<td>{{ 'Flowref' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.flowref"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.flowref"/></td>
          </tr>
		  
        </tbody>
      </table>
      
      <div class="form-group">
      	<div class="col-lg-20 col-lg-offset-2">
        	<button type="submit" class="btn btn-primary" ng-click="saveConfig(configValue)">Save</button>
        </div>
      </div>
      </form>      
    </div>

<div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()"  data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="{{ 'SCROLL_TO_TOP' | translate }}" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <div class="btn btn-primary btn-round btn-lg" ui-sref="createVbsFlow()" data-title="New {{settings.singular}}" bs-tooltip><i class="md md-add"></i></div>
  </div>

</div>