
<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
  <div class="close">
    <div class="btn btn-round btn-info" ng-click="$hide()" data-title="{{ 'CLOSE' | translate }}" bs-tooltip><i class="md md-close"></i></div>
  </div>

  <div class="aside-dialog">
    <div class="aside-body bs-sidebar">

      <form class="form-floating" novalidate="novalidate" ng-submit="startSearch(savedSearch)">
        <fieldset>
          <legend><span ng-bind-html="savedSearch.icon"></span> {{cmd}} {{settings.singular}} search</legend>

		
		
			<div class="form-group filled">
		    <label class="control-label">Lastname</label>
                    <input type="text" class="form-control" ng-model="savedSearch.lastname">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Firstname</label>
                    <input type="text" class="form-control" ng-model="savedSearch.firstname">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Updatedate</label>
                	<input type="text" class="form-control" ng-model="savedSearch.updatedate" data-autoclose="1" placeholder="{{ 'updatedate' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Creationdate</label>
                	<input type="text" class="form-control" ng-model="savedSearch.creationdate" data-autoclose="1" placeholder="{{ 'creationdate' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Size</label>
                	<input type="text" class="form-control" ng-model="savedSearch.size">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Age</label>
                	<input type="text" class="form-control" ng-model="savedSearch.age">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Jobdescription</label>
                    <input type="text" class="form-control" ng-model="savedSearch.jobdescription">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Birthdate</label>
                	<input type="text" class="form-control" ng-model="savedSearch.birthdate" data-autoclose="1" placeholder="{{ 'birthdate' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Dateofdeath</label>
                	<input type="text" class="form-control" ng-model="savedSearch.dateofdeath" data-autoclose="1" placeholder="{{ 'dateofdeath' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Dummy</label>
                	<input type="text" class="form-control" ng-model="savedSearch.dummy">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">Hobbies</label>
                    <input type="text" class="form-control" ng-model="savedSearch.hobbies">
                </div>
		
		

          <div class="form-group">
            <button type="button" ng-click="clearSavedSearch()" class="btn btn-lg btn-primary">{{ 'CLEAR' | translate }}</button>
            <button type="submit" class="btn btn-lg btn-primary">{{ 'SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>

	  <form class="form-floating" novalidate="novalidate" ng-submit="startElasticSearch(savedSearch)">
        <fieldset>
      
          <div class="form-group filled">
            <label class="control-label">{{ 'QUERY' | translate }}</label>
            <input type="text" class="form-control" ng-model="savedSearch.query" required>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary" >{{ 'ELASTIC_SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>
          
          
    </div>
  </div>
</div>