<section class="forms-basic">
  <div class="page-header">
    <h1>
      <i class="md md-input"></i>
      Author form
    </h1>
    <p class="lead">
      You can edit Author entity and see linked entities.
    </p>
  </div>

<div class="row m-b-40">

    <div class="col-md-3 col-md-push-9">
      <h5>Mode</h5>
      <p>mode: {{mode}}</p>
    </div>
    <div class="col-md-8 col-md-pull-3">
      <div class="well">
        <form class="form-horizontal">
          <fieldset>
            <legend>Main entity</legend>          
            <span class="help-block m-b-20">Please fill out the following form below.</span>


		
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">Name</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="name" ng-model="item.name"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">BirthDate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="birthDate" ng-model="item.birthDate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    


          <div class="form-group">
              <label for="id" class="col-lg-2 control-label"><b> Id</b></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="id"  ng-disabled="true"  ng-model="item.id">
              </div>
         </div>
            

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
              	<button type="submit" class="btn btn-primary" ui-sref="author">back to List</button>
                <button type="reset" class="btn btn-default" ng-click="remove(item)" ng-show="mode != 'VIEW'">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="saveItem(item)" ng-show="mode != 'VIEW'">Save</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  
</section>

<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>


<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities (inverse relation)
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>
										-- on a une relation MTO/OTO/MTM vers notre entite Author, il faudra faire une table HTML contenant la liste des Book liés avec des liens pour y descendre
				-- il faudra un REST sur les Book pour lister les Book liés à Author
				-- Exemple: Book.findByAuthorID
  <div class="card">

    <div class="row">
      <div class="col-md-6">
        <h3 class="table-title p-20">Book table:: inverse relation to: Book.author ==> Author.id</h3>
      </div>
      <div class="col-md-6">
        <div class="table-search">
          <input type="text" ng-model="tableParams.filter()['search']" class="form-control" placeholder="Search data"/>
        </div>
      </div>
    </div>

    <div class="table-responsive white">

      <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html" class="table table-full table-full-small">
        <tr ng-repeat="row in findBookByAuthor">
				  <td data-title="'id'" filter="{ 'id': 'text' }" sortable="'id'"><a ui-sref="editBook({id:row.id})">{{row.id}}</a></td>
				  <td data-title="'title'" filter="{ 'title': 'text' }" sortable="'title'">{{row.title}}</td>	
				  <td data-title="'description'" filter="{ 'description': 'text' }" sortable="'description'">{{row.description}}</td>	
				  <td data-title="'publicationDate'" filter="{ 'publicationDate': 'text' }" sortable="'publicationDate'">{{row.publicationDate}}</td>	
				  <td data-title="'authorId'" filter="{ 'authorId': 'text' }" sortable="'authorId'">{{row.authorId}}</td>	
				  <td data-title="'price'" filter="{ 'price': 'text' }" sortable="'price'">{{row.price}}</td>	
				  <td data-title="'previousbookid'" filter="{ 'previousbookid': 'text' }" sortable="'previousbookid'">{{row.previousbookid}}</td>	
				  <td data-title="'barcodeid'" filter="{ 'barcodeid': 'text' }" sortable="'barcodeid'">{{row.barcodeid}}</td>	
	        </tr>		        
      </table>

    </div>

  </div>		
																																	-- on a une relation MTO/OTO/MTM vers notre entite Author, il faudra faire une table HTML contenant la liste des AuthorStyle liés avec des liens pour y descendre
				-- il faudra un REST sur les AuthorStyle pour lister les AuthorStyle liés à Author
				-- Exemple: AuthorStyle.findByAuthorID
  <div class="card">

    <div class="row">
      <div class="col-md-6">
        <h3 class="table-title p-20">AuthorStyle table:: inverse relation to: AuthorStyle.author ==> Author.id</h3>
      </div>
      <div class="col-md-6">
        <div class="table-search">
          <input type="text" ng-model="tableParams.filter()['search']" class="form-control" placeholder="Search data"/>
        </div>
      </div>
    </div>

    <div class="table-responsive white">

      <table ng-table="tableParams" template-pagination="assets/tpl/partials/data-table-pager.html" class="table table-full table-full-small">      
        <tr ng-repeat="row in findAuthorStyleByAuthor">
				  <td data-title="'id'" filter="{ 'id': 'text' }" sortable="'id'"><a ui-sref="editAuthorStyle({id:row.id})">{{row.id}}</a></td>
				  <td data-title="'enable'" filter="{ 'enable': 'text' }" sortable="'enable'">{{row.enable}}</td>	
				  <td data-title="'author'" filter="{ 'author': 'text' }" sortable="'author'"><a ui-sref="editAuthor({id:row.author.id})">{{row.author.name}}</a></td>	
				  <td data-title="'style'" filter="{ 'style': 'text' }" sortable="'style'"><a ui-sref="editStyle({id:row.style.id})">{{row.style.name}}</a></td>	
	        </tr>		        
      </table>

    </div>

  </div>		
																															
</section>



