<section>
  <div class="page-header">
    <div class="actions" >
    </div>

    <h1>
      <i class="md md-camera"></i>
      VbsFlowUnit entity
    </h1>
    <p class="lead">
      You can customize this entity...
    </p>
  </div>
</section>

<div>


    <div class="table-responsive well no-padding white no-margin">
      <h3 class="table-title"></h3>
<form>
      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
        <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
          <th>Field</th>
          <th>Translation</th>
          <th>Key</th>
          <th>Composite Key</th>
          <th>Foreign Key</th>
          <th>Inv. relation</th>
          <th>Required</th>
          <th>Indexed</th>
          <th>Main</th>
          <th>EDIT</th>
         </tr>
        </thead>
        <tbody>
		  <tr>
          	<td><b>Id</b></td>
          	<td>{{ 'Id' | translate }}</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
          </tr>
		  
		  <tr>
          	<td><b>VbsDiffusionIdDiffusion</b></td>
          	<td>{{ 'VbsDiffusionIdDiffusion' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.vbsDiffusionIdDiffusion"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.vbsDiffusionIdDiffusion"/></td>
          </tr>
		  
		  <tr>
          	<td><b>VbsFlowId</b></td>
          	<td>{{ 'VbsFlowId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.vbsFlowId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.vbsFlowId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DateTreatment</b></td>
          	<td>{{ 'DateTreatment' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.dateTreatment"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.dateTreatment"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SiteCd</b></td>
          	<td>{{ 'SiteCd' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.siteCd"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.siteCd"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ChkSum</b></td>
          	<td>{{ 'ChkSum' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.chkSum"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.chkSum"/></td>
          </tr>
		  
		  <tr>
          	<td><b>GenStart</b></td>
          	<td>{{ 'GenStart' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.genStart"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.genStart"/></td>
          </tr>
		  
		  <tr>
          	<td><b>GenEnd</b></td>
          	<td>{{ 'GenEnd' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.genEnd"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.genEnd"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppStart</b></td>
          	<td>{{ 'AppStart' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appStart"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appStart"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppEnd</b></td>
          	<td>{{ 'AppEnd' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appEnd"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appEnd"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppValidateDate</b></td>
          	<td>{{ 'AppValidateDate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appValidateDate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appValidateDate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppMode</b></td>
          	<td>{{ 'AppMode' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appMode"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appMode"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppStatus</b></td>
          	<td>{{ 'AppStatus' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appStatus"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appStatus"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppDsc</b></td>
          	<td>{{ 'AppDsc' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appDsc"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appDsc"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppUsrVbsId</b></td>
          	<td>{{ 'AppUsrVbsId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appUsrVbsId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appUsrVbsId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppUsrNme</b></td>
          	<td>{{ 'AppUsrNme' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appUsrNme"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appUsrNme"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AppUsrLstnme</b></td>
          	<td>{{ 'AppUsrLstnme' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.appUsrLstnme"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.appUsrLstnme"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocType</b></td>
          	<td>{{ 'DocType' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docType"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docType"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocNme</b></td>
          	<td>{{ 'DocNme' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docNme"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docNme"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocNmeOlis</b></td>
          	<td>{{ 'DocNmeOlis' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docNmeOlis"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docNmeOlis"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocNbrPage</b></td>
          	<td>{{ 'DocNbrPage' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docNbrPage"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docNbrPage"/></td>
          </tr>
		  
		  <tr>
          	<td><b>FundCd</b></td>
          	<td>{{ 'FundCd' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.fundCd"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.fundCd"/></td>
          </tr>
		  
		  <tr>
          	<td><b>TansNbr</b></td>
          	<td>{{ 'TansNbr' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.tansNbr"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.tansNbr"/></td>
          </tr>
		  
		  <tr>
          	<td><b>NavDate</b></td>
          	<td>{{ 'NavDate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.navDate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.navDate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ValStart</b></td>
          	<td>{{ 'ValStart' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.valStart"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.valStart"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ValEnd</b></td>
          	<td>{{ 'ValEnd' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.valEnd"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.valEnd"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ExeDate</b></td>
          	<td>{{ 'ExeDate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.exeDate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.exeDate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>InvestorId</b></td>
          	<td>{{ 'InvestorId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.investorId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.investorId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>InvestorNme</b></td>
          	<td>{{ 'InvestorNme' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.investorNme"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.investorNme"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DistAccId</b></td>
          	<td>{{ 'DistAccId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.distAccId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.distAccId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DistNme</b></td>
          	<td>{{ 'DistNme' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.distNme"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.distNme"/></td>
          </tr>
		  
		  <tr>
          	<td><b>GedId</b></td>
          	<td>{{ 'GedId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.gedId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.gedId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocLength</b></td>
          	<td>{{ 'DocLength' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docLength"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docLength"/></td>
          </tr>
		  
		  <tr>
          	<td><b>FundNme</b></td>
          	<td>{{ 'FundNme' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.fundNme"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.fundNme"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocDteTrade</b></td>
          	<td>{{ 'DocDteTrade' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docDteTrade"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docDteTrade"/></td>
          </tr>
		  
		  <tr>
          	<td><b>InvestorParticipant</b></td>
          	<td>{{ 'InvestorParticipant' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.investorParticipant"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.investorParticipant"/></td>
          </tr>
		  
		  <tr>
          	<td><b>InvestorStaGrpCde</b></td>
          	<td>{{ 'InvestorStaGrpCde' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.investorStaGrpCde"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.investorStaGrpCde"/></td>
          </tr>
		  
		  <tr>
          	<td><b>InvestorLanguage</b></td>
          	<td>{{ 'InvestorLanguage' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.investorLanguage"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.investorLanguage"/></td>
          </tr>
		  
		  <tr>
          	<td><b>InvestorCurrency</b></td>
          	<td>{{ 'InvestorCurrency' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.investorCurrency"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.investorCurrency"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocHeaderValuationdate</b></td>
          	<td>{{ 'DocHeaderValuationdate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docHeaderValuationdate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docHeaderValuationdate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocIssueDate</b></td>
          	<td>{{ 'DocIssueDate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docIssueDate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docIssueDate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocStaNumber</b></td>
          	<td>{{ 'DocStaNumber' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docStaNumber"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docStaNumber"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocContactAdd1</b></td>
          	<td>{{ 'DocContactAdd1' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd1"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd1"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocContactAdd2</b></td>
          	<td>{{ 'DocContactAdd2' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd2"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd2"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocContactAdd3</b></td>
          	<td>{{ 'DocContactAdd3' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd3"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd3"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocContactAdd4</b></td>
          	<td>{{ 'DocContactAdd4' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd4"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd4"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocContactAdd5</b></td>
          	<td>{{ 'DocContactAdd5' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd5"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd5"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocContactAdd6</b></td>
          	<td>{{ 'DocContactAdd6' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd6"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd6"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocContactAdd7</b></td>
          	<td>{{ 'DocContactAdd7' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd7"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd7"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocContactAdd8</b></td>
          	<td>{{ 'DocContactAdd8' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd8"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docContactAdd8"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocRef</b></td>
          	<td>{{ 'DocRef' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docRef"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docRef"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocVbsId</b></td>
          	<td>{{ 'DocVbsId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docVbsId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docVbsId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>InvestorAccId</b></td>
          	<td>{{ 'InvestorAccId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.investorAccId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.investorAccId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocUnitXml</b></td>
          	<td>{{ 'DocUnitXml' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docUnitXml"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docUnitXml"/></td>
          </tr>
		  
		  <tr>
          	<td><b>TrnRef</b></td>
          	<td>{{ 'TrnRef' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.trnRef"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.trnRef"/></td>
          </tr>
		  
        </tbody>
      </table>
      
      <div class="form-group">
      	<div class="col-lg-20 col-lg-offset-2">
        	<button type="submit" class="btn btn-primary" ng-click="saveConfig(configValue)">Save</button>
        </div>
      </div>
      </form>      
    </div>

<div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()"  data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="{{ 'SCROLL_TO_TOP' | translate }}" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <div class="btn btn-primary btn-round btn-lg" ui-sref="createVbsFlowUnit()" data-title="New {{settings.singular}}" bs-tooltip><i class="md md-add"></i></div>
  </div>

</div>