
					
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
									
						
				
<section>
  <div class="page-header">
    <div class="actions" >
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="showInfo()" data-title="{{ 'INFO' | translate }}" bs-tooltip><span class="md md-info-outline"></span></button>
	  <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="searchItem()" data-title="{{ 'SEARCH' | translate }}" bs-tooltip><span class="md md-search"></span></button>
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="refresh()" data-title="{{ 'REFRESH_GRID' | translate }}" bs-tooltip><span class="md md-refresh"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="clear()" data-title="{{ 'CLEAR_GRID' | translate }}" bs-tooltip><span class="md md-clear"></span></button>
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="index()" data-title="{{ 'INDEX_ITEMS' | translate }}" bs-tooltip><span class="md md-assessment"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ui-sref="configVbsFlowUnit()" data-title="{{ 'CONFIG_ENTITY' | translate }}" bs-tooltip><span class="md md-assignment"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-csv="getCSVData()" field-separator=";" lazy-load="true" charset="utf-8" filename="vbsFlowUnitData.csv" csv-label="true" data-title="export the grid"><span class="md md-get-app"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="checkBoxValue()" data-title="test button" bs-tooltip><span class="md md-info"></span></button>
    </div>

    <h1>
      <i class="md md-camera"></i>
      VbsFlowUnit entity
    </h1>
    <p class="lead">
      In most applications you need basic table listings and editing capabilities.
      With this app you can create simple admin functionality based on a json web service.
    </p>
  </div>
</section>

<div>


    <div class="table-responsive well no-padding white no-margin">
      <h3 class="table-title">{{data.length}} of {{pagination.totalElements}} {{settings.plural}} available</h3>

      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
        <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
          <th><input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" /></th>
          <th>Icon</th>
			<th fsm-sort="id">Id</th>
				  <th fsm-sort="vbsDiffusionIdDiffusion" ng-show="configValue.vbsDiffusionIdDiffusion">VbsDiffusionIdDiffusion</th>
				  <th fsm-sort="vbsFlowId" ng-show="configValue.vbsFlowId">VbsFlowId</th>
				  <th fsm-sort="dateTreatment" ng-show="configValue.dateTreatment">DateTreatment</th>
				  <th fsm-sort="siteCd" ng-show="configValue.siteCd">SiteCd</th>
				  <th fsm-sort="chkSum" ng-show="configValue.chkSum">ChkSum</th>
				  <th fsm-sort="genStart" ng-show="configValue.genStart">GenStart</th>
				  <th fsm-sort="genEnd" ng-show="configValue.genEnd">GenEnd</th>
				  <th fsm-sort="appStart" ng-show="configValue.appStart">AppStart</th>
				  <th fsm-sort="appEnd" ng-show="configValue.appEnd">AppEnd</th>
				  <th fsm-sort="appValidateDate" ng-show="configValue.appValidateDate">AppValidateDate</th>
				  <th fsm-sort="appMode" ng-show="configValue.appMode">AppMode</th>
				  <th fsm-sort="appStatus" ng-show="configValue.appStatus">AppStatus</th>
				  <th fsm-sort="appDsc" ng-show="configValue.appDsc">AppDsc</th>
				  <th fsm-sort="appUsrVbsId" ng-show="configValue.appUsrVbsId">AppUsrVbsId</th>
				  <th fsm-sort="appUsrNme" ng-show="configValue.appUsrNme">AppUsrNme</th>
				  <th fsm-sort="appUsrLstnme" ng-show="configValue.appUsrLstnme">AppUsrLstnme</th>
				  <th fsm-sort="docType" ng-show="configValue.docType">DocType</th>
				  <th fsm-sort="docNme" ng-show="configValue.docNme">DocNme</th>
				  <th fsm-sort="docNmeOlis" ng-show="configValue.docNmeOlis">DocNmeOlis</th>
				  <th fsm-sort="docNbrPage" ng-show="configValue.docNbrPage">DocNbrPage</th>
				  <th fsm-sort="fundCd" ng-show="configValue.fundCd">FundCd</th>
				  <th fsm-sort="tansNbr" ng-show="configValue.tansNbr">TansNbr</th>
				  <th fsm-sort="navDate" ng-show="configValue.navDate">NavDate</th>
				  <th fsm-sort="valStart" ng-show="configValue.valStart">ValStart</th>
				  <th fsm-sort="valEnd" ng-show="configValue.valEnd">ValEnd</th>
				  <th fsm-sort="exeDate" ng-show="configValue.exeDate">ExeDate</th>
				  <th fsm-sort="investorId" ng-show="configValue.investorId">InvestorId</th>
				  <th fsm-sort="investorNme" ng-show="configValue.investorNme">InvestorNme</th>
				  <th fsm-sort="distAccId" ng-show="configValue.distAccId">DistAccId</th>
				  <th fsm-sort="distNme" ng-show="configValue.distNme">DistNme</th>
				  <th fsm-sort="gedId" ng-show="configValue.gedId">GedId</th>
				  <th fsm-sort="docLength" ng-show="configValue.docLength">DocLength</th>
				  <th fsm-sort="fundNme" ng-show="configValue.fundNme">FundNme</th>
				  <th fsm-sort="docDteTrade" ng-show="configValue.docDteTrade">DocDteTrade</th>
				  <th fsm-sort="investorParticipant" ng-show="configValue.investorParticipant">InvestorParticipant</th>
				  <th fsm-sort="investorStaGrpCde" ng-show="configValue.investorStaGrpCde">InvestorStaGrpCde</th>
				  <th fsm-sort="investorLanguage" ng-show="configValue.investorLanguage">InvestorLanguage</th>
				  <th fsm-sort="investorCurrency" ng-show="configValue.investorCurrency">InvestorCurrency</th>
				  <th fsm-sort="docHeaderValuationdate" ng-show="configValue.docHeaderValuationdate">DocHeaderValuationdate</th>
				  <th fsm-sort="docIssueDate" ng-show="configValue.docIssueDate">DocIssueDate</th>
				  <th fsm-sort="docStaNumber" ng-show="configValue.docStaNumber">DocStaNumber</th>
				  <th fsm-sort="docContactAdd1" ng-show="configValue.docContactAdd1">DocContactAdd1</th>
				  <th fsm-sort="docContactAdd2" ng-show="configValue.docContactAdd2">DocContactAdd2</th>
				  <th fsm-sort="docContactAdd3" ng-show="configValue.docContactAdd3">DocContactAdd3</th>
				  <th fsm-sort="docContactAdd4" ng-show="configValue.docContactAdd4">DocContactAdd4</th>
				  <th fsm-sort="docContactAdd5" ng-show="configValue.docContactAdd5">DocContactAdd5</th>
				  <th fsm-sort="docContactAdd6" ng-show="configValue.docContactAdd6">DocContactAdd6</th>
				  <th fsm-sort="docContactAdd7" ng-show="configValue.docContactAdd7">DocContactAdd7</th>
				  <th fsm-sort="docContactAdd8" ng-show="configValue.docContactAdd8">DocContactAdd8</th>
				  <th fsm-sort="docRef" ng-show="configValue.docRef">DocRef</th>
				  <th fsm-sort="docVbsId" ng-show="configValue.docVbsId">DocVbsId</th>
				  <th fsm-sort="investorAccId" ng-show="configValue.investorAccId">InvestorAccId</th>
				  <th fsm-sort="docUnitXml" ng-show="configValue.docUnitXml">DocUnitXml</th>
				  <th fsm-sort="trnRef" ng-show="configValue.trnRef">TrnRef</th>
	
          <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        
          <tr ng-show="data.length == 0">
            <td colspan="1" align="center"><a ng-click="searchItem()">{{ 'NO_DATA' | translate }}</a></td>
          </tr>        
        
          <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected"  ng-dblclick="editItem(item)">
            <td><input type="checkbox" class="relative" ng-model="item.selected" ng-click="$event.stopPropagation()" /></td>
            <td ng-bind-html="item.icon" class="f20"></td>
			<td>{{item.id}}</td>
						    <td ng-show="configValue.vbsDiffusionIdDiffusion">{{item.vbsDiffusionIdDiffusion}}</td>
								    <td ng-show="configValue.vbsFlowId">{{item.vbsFlowId}}</td>
									<td  ng-show="configValue.dateTreatment">{{item.dateTreatment | date:"dd/MM/yyyy"}}</td>
								    <td ng-show="configValue.siteCd">{{item.siteCd}}</td>
								    <td ng-show="configValue.chkSum">{{item.chkSum}}</td>
									<td  ng-show="configValue.genStart">{{item.genStart | date:"dd/MM/yyyy"}}</td>
									<td  ng-show="configValue.genEnd">{{item.genEnd | date:"dd/MM/yyyy"}}</td>
									<td  ng-show="configValue.appStart">{{item.appStart | date:"dd/MM/yyyy"}}</td>
									<td  ng-show="configValue.appEnd">{{item.appEnd | date:"dd/MM/yyyy"}}</td>
									<td  ng-show="configValue.appValidateDate">{{item.appValidateDate | date:"dd/MM/yyyy"}}</td>
								    <td ng-show="configValue.appMode">{{item.appMode}}</td>
								    <td ng-show="configValue.appStatus">{{item.appStatus}}</td>
								    <td ng-show="configValue.appDsc">{{item.appDsc}}</td>
								    <td ng-show="configValue.appUsrVbsId">{{item.appUsrVbsId}}</td>
								    <td ng-show="configValue.appUsrNme">{{item.appUsrNme}}</td>
								    <td ng-show="configValue.appUsrLstnme">{{item.appUsrLstnme}}</td>
								    <td ng-show="configValue.docType">{{item.docType}}</td>
								    <td ng-show="configValue.docNme">{{item.docNme}}</td>
								    <td ng-show="configValue.docNmeOlis">{{item.docNmeOlis}}</td>
								    <td ng-show="configValue.docNbrPage">{{item.docNbrPage}}</td>
								    <td ng-show="configValue.fundCd">{{item.fundCd}}</td>
								    <td ng-show="configValue.tansNbr">{{item.tansNbr}}</td>
									<td  ng-show="configValue.navDate">{{item.navDate | date:"dd/MM/yyyy"}}</td>
									<td  ng-show="configValue.valStart">{{item.valStart | date:"dd/MM/yyyy"}}</td>
									<td  ng-show="configValue.valEnd">{{item.valEnd | date:"dd/MM/yyyy"}}</td>
									<td  ng-show="configValue.exeDate">{{item.exeDate | date:"dd/MM/yyyy"}}</td>
								    <td ng-show="configValue.investorId">{{item.investorId}}</td>
								    <td ng-show="configValue.investorNme">{{item.investorNme}}</td>
								    <td ng-show="configValue.distAccId">{{item.distAccId}}</td>
								    <td ng-show="configValue.distNme">{{item.distNme}}</td>
								    <td ng-show="configValue.gedId">{{item.gedId}}</td>
								    <td ng-show="configValue.docLength">{{item.docLength}}</td>
								    <td ng-show="configValue.fundNme">{{item.fundNme}}</td>
									<td  ng-show="configValue.docDteTrade">{{item.docDteTrade | date:"dd/MM/yyyy"}}</td>
								    <td ng-show="configValue.investorParticipant">{{item.investorParticipant}}</td>
								    <td ng-show="configValue.investorStaGrpCde">{{item.investorStaGrpCde}}</td>
								    <td ng-show="configValue.investorLanguage">{{item.investorLanguage}}</td>
								    <td ng-show="configValue.investorCurrency">{{item.investorCurrency}}</td>
									<td  ng-show="configValue.docHeaderValuationdate">{{item.docHeaderValuationdate | date:"dd/MM/yyyy"}}</td>
									<td  ng-show="configValue.docIssueDate">{{item.docIssueDate | date:"dd/MM/yyyy"}}</td>
								    <td ng-show="configValue.docStaNumber">{{item.docStaNumber}}</td>
								    <td ng-show="configValue.docContactAdd1">{{item.docContactAdd1}}</td>
								    <td ng-show="configValue.docContactAdd2">{{item.docContactAdd2}}</td>
								    <td ng-show="configValue.docContactAdd3">{{item.docContactAdd3}}</td>
								    <td ng-show="configValue.docContactAdd4">{{item.docContactAdd4}}</td>
								    <td ng-show="configValue.docContactAdd5">{{item.docContactAdd5}}</td>
								    <td ng-show="configValue.docContactAdd6">{{item.docContactAdd6}}</td>
								    <td ng-show="configValue.docContactAdd7">{{item.docContactAdd7}}</td>
								    <td ng-show="configValue.docContactAdd8">{{item.docContactAdd8}}</td>
								    <td ng-show="configValue.docRef">{{item.docRef}}</td>
								    <td ng-show="configValue.docVbsId">{{item.docVbsId}}</td>
								    <td ng-show="configValue.investorAccId">{{item.investorAccId}}</td>
									<td ng-show="configValue.docUnitXml"><div ng-init="limit = 50; moreShown = false; lessShown = false;">
    			{{item.docUnitXml | limitTo: limit}}
    			<a ng-show="item.docUnitXml.length > limit" href ng-click="limit=item.docUnitXml.length; moreShown = true; lessShown = true;" data-title="{{ 'MORE_TOOLTIP' | translate }}" bs-tooltip>...  <b>{{ 'MORE' | translate }}</b></a>    			
    			<a ng-show="lessShown == true" href ng-click="limit=50; moreShown = false; lessShown = false">  <b>{{ 'LESS' | translate }}</b></a>
				</div></td>			
								    <td ng-show="configValue.trnRef">{{item.trnRef}}</td>
			            <td class="text-right" ng-click="$event.stopPropagation()">
              <button type="button" class="btn btn-link btn-round" data-title="{{ 'EDIT_ITEM' | translate }}" ui-sref="editVbsFlowUnit( {id:item.id} )" bs-tooltip><i class="md md-edit"></i></button>
              <button type="button" class="btn btn-link btn-round" data-title="{{ 'VIEW_ITEM' | translate }}" ui-sref="viewVbsFlowUnit( {id:item.id} )" bs-tooltip><i class="md md-search"></i></button>
              <button type="button" class="btn btn-link btn-round" data-title="{{ 'DELETE_ITEM' | translate }}" ng-click="remove(item)" bs-tooltip><i class="md md-delete"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="p-20">
      	<li class="pager">
			<button type="button" ng-click="first()" ng-disabled="pagination.first" class="btn btn-default pull-left">|&laquo; First</button>      
      		<button type="button" ng-click="prev()" ng-disabled="pagination.first" class="btn btn-default pull-left">&laquo; Previous</button>
      		<button type="button" ng-click="last()" ng-disabled="pagination.last" class="btn btn-default pull-right">Last &raquo;|</button>
      		<button type="button" ng-click="next()" ng-disabled="pagination.last" class="btn btn-default pull-right">Next &raquo;</button>
      	</li>
      </div>
    </div>

  <br><br><br><br>
  <div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()"  data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="{{ 'SCROLL_TO_TOP' | translate }}" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <div class="btn btn-primary btn-round btn-lg" ui-sref="createVbsFlowUnit()" data-title="New {{settings.singular}}" bs-tooltip><i class="md md-add"></i></div>
  </div>

</div>