<section class="forms-basic">
  <div class="page-header">
    <h1>
      <i class="md md-input"></i>
      VbsFlowUnit form
    </h1>
    <p class="lead">
      You can edit VbsFlowUnit entity and see linked entities.
    </p>
  </div>

<div class="row m-b-40">

    <div class="col-md-3 col-md-push-9">
      <h5>Mode</h5>
      <p>mode: {{mode}}</p>
    </div>
    <div class="col-md-8 col-md-pull-3">
      <div class="well">
        <form class="form-horizontal">
          <fieldset>
            <legend>Main entity</legend>          
            <span class="help-block m-b-20">Please fill out the following form below.</span>


		
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">VbsDiffusionIdDiffusion</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="vbsDiffusionIdDiffusion" ng-model="item.vbsDiffusionIdDiffusion"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">VbsFlowId</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="vbsFlowId" ng-model="item.vbsFlowId"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DateTreatment</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="dateTreatment" ng-model="item.dateTreatment" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SiteCd</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="siteCd" ng-model="item.siteCd"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">ChkSum</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="chkSum" ng-model="item.chkSum"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">GenStart</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="genStart" ng-model="item.genStart" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">GenEnd</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="genEnd" ng-model="item.genEnd" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppStart</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="appStart" ng-model="item.appStart" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppEnd</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="appEnd" ng-model="item.appEnd" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppValidateDate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="appValidateDate" ng-model="item.appValidateDate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppMode</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="appMode" ng-model="item.appMode"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppStatus</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="appStatus" ng-model="item.appStatus"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppDsc</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="appDsc" ng-model="item.appDsc"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppUsrVbsId</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="appUsrVbsId" ng-model="item.appUsrVbsId"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppUsrNme</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="appUsrNme" ng-model="item.appUsrNme"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AppUsrLstnme</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="appUsrLstnme" ng-model="item.appUsrLstnme"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocType</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docType" ng-model="item.docType"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocNme</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docNme" ng-model="item.docNme"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocNmeOlis</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docNmeOlis" ng-model="item.docNmeOlis"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocNbrPage</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="docNbrPage" ng-model="item.docNbrPage"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">FundCd</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="fundCd" ng-model="item.fundCd"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">TansNbr</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="tansNbr" ng-model="item.tansNbr"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">NavDate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="navDate" ng-model="item.navDate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">ValStart</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="valStart" ng-model="item.valStart" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">ValEnd</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="valEnd" ng-model="item.valEnd" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">ExeDate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="exeDate" ng-model="item.exeDate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">InvestorId</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="investorId" ng-model="item.investorId"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">InvestorNme</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="investorNme" ng-model="item.investorNme"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DistAccId</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="distAccId" ng-model="item.distAccId"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DistNme</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="distNme" ng-model="item.distNme"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">GedId</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="gedId" ng-model="item.gedId"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocLength</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="docLength" ng-model="item.docLength"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">FundNme</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="fundNme" ng-model="item.fundNme"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocDteTrade</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="docDteTrade" ng-model="item.docDteTrade" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">InvestorParticipant</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="investorParticipant" ng-model="item.investorParticipant"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">InvestorStaGrpCde</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="investorStaGrpCde" ng-model="item.investorStaGrpCde"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">InvestorLanguage</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="investorLanguage" ng-model="item.investorLanguage"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">InvestorCurrency</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="investorCurrency" ng-model="item.investorCurrency"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocHeaderValuationdate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="docHeaderValuationdate" ng-model="item.docHeaderValuationdate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocIssueDate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="docIssueDate" ng-model="item.docIssueDate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocStaNumber</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docStaNumber" ng-model="item.docStaNumber"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocContactAdd1</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docContactAdd1" ng-model="item.docContactAdd1"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocContactAdd2</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docContactAdd2" ng-model="item.docContactAdd2"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocContactAdd3</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docContactAdd3" ng-model="item.docContactAdd3"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocContactAdd4</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docContactAdd4" ng-model="item.docContactAdd4"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocContactAdd5</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docContactAdd5" ng-model="item.docContactAdd5"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocContactAdd6</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docContactAdd6" ng-model="item.docContactAdd6"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocContactAdd7</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docContactAdd7" ng-model="item.docContactAdd7"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocContactAdd8</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docContactAdd8" ng-model="item.docContactAdd8"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocRef</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docRef" ng-model="item.docRef"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocVbsId</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docVbsId" ng-model="item.docVbsId"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">InvestorAccId</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="investorAccId" ng-model="item.investorAccId"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocUnitXml</label>
                          <div class="col-lg-10">
												<textarea class="form-control vertical" rows="3" id="docUnitXml" ng-model="item.docUnitXml" ></textarea>
					        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">TrnRef</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="trnRef" ng-model="item.trnRef"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    


          <div class="form-group">
              <label for="id" class="col-lg-2 control-label"><b> Id</b></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="id"  ng-disabled="true"  ng-model="item.id">
              </div>
         </div>
            

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
              	<button type="submit" class="btn btn-primary" ui-sref="vbsflowunit">back to List</button>
                <button type="reset" class="btn btn-default" ng-click="remove(item)" ng-show="mode != 'VIEW'">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="saveItem(item)" ng-show="mode != 'VIEW'">Save</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  
</section>

<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>


<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities (inverse relation)
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>
													 	 	 	 	 	 							 	 	 	 	 	 				 	 	 	 	 	 	 	 	 	 	 	 	 	 	  
</section>



