
<div class="row">
	<!-- Breadcrumb -->
	<ul class="breadcrumb">
	  <li><a ui-sref="appToken">AppToken search & result</a></li>
	  <li class="active">AppToken detail</li>
	</ul>
</div>

<section class="forms-basic">
  <div class="page-header">
    <h1>
      <i class="md md-input"></i>
      AppToken form
    </h1>
    <p class="lead">
      You can edit AppToken entity and see linked entities.
    </p>
  </div>

<div class="row m-b-40">

    <div class="col-md-3 col-md-push-9">
      <h5>Mode</h5>
      <p>mode: {{mode}}</p>
    </div>
    <div class="col-md-8 col-md-pull-3">
      <div class="well">
        <form class="form-horizontal">
          <fieldset>
            <legend>Main entity</legend>          
            <span class="help-block m-b-20">Please fill out the following form below.</span>


		
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">TokenValue</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="tokenValue" ng-model="item.tokenValue"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">TokenCreationDate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="tokenCreationDate" ng-model="item.tokenCreationDate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label"><b>IpAddress</b></label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="ipAddress" ng-model="item.ipAddress" required ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label"><b>UserAgent</b></label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="userAgent" ng-model="item.userAgent" required ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label"><b>UserLogin</b></label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="userLogin" ng-model="item.userLogin" required ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    


          <div class="form-group">
              <label for="id" class="col-lg-2 control-label"><b> Id</b></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="id"  ng-model="item.id">
              </div>
         </div>
            

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
              	<button type="submit" class="btn btn-primary" ui-sref="apptoken">back to List</button>
                <button type="reset" class="btn btn-default" ng-click="remove(item)" ng-show="mode != 'VIEW'">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="saveItem(item)" ng-show="mode != 'VIEW'">Save</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  
</section>

<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>


<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities (inverse relation)
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>
	 	 	 	 	 				 	  
</section>



