<section class="forms-basic">
  <div class="page-header">
    <h1>
      <i class="md md-input"></i>
      VbsDiffusion form
    </h1>
    <p class="lead">
      You can edit VbsDiffusion entity and see linked entities.
    </p>
  </div>

<div class="row m-b-40">

    <div class="col-md-3 col-md-push-9">
      <h5>Mode</h5>
      <p>mode: {{mode}}</p>
    </div>
    <div class="col-md-8 col-md-pull-3">
      <div class="well">
        <form class="form-horizontal">
          <fieldset>
            <legend>Main entity</legend>          
            <span class="help-block m-b-20">Please fill out the following form below.</span>


		
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DateTreatment</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="dateTreatment" ng-model="item.dateTreatment" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocGrpNbrPage</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="docGrpNbrPage" ng-model="item.docGrpNbrPage"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DiffusionType</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="diffusionType" ng-model="item.diffusionType"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DiffusionAdr</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="diffusionAdr" ng-model="item.diffusionAdr"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DocLocale</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="docLocale" ng-model="item.docLocale"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DiffusionMode</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="diffusionMode" ng-model="item.diffusionMode"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SiteCde</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="siteCde" ng-model="item.siteCde"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">ItRef</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="itRef" ng-model="item.itRef"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DfuLogGrpIde</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="dfuLogGrpIde" ng-model="item.dfuLogGrpIde"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">MgtCde</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="mgtCde" ng-model="item.mgtCde"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">OldDiffusion</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="oldDiffusion" ng-model="item.oldDiffusion"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SplitIndex</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="splitIndex" ng-model="item.splitIndex"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SplitTotal</label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="splitTotal" ng-model="item.splitTotal"  ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">ReDfuLogrGrpIde</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="reDfuLogrGrpIde" ng-model="item.reDfuLogrGrpIde"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">PrintColor</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="printColor" ng-model="item.printColor"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">AdressNumber</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="adressNumber" ng-model="item.adressNumber"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">OfficialName</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="officialName" ng-model="item.officialName"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">DiffusionXml</label>
                          <div class="col-lg-10">
												<textarea class="form-control vertical" rows="3" id="diffusionXml" ng-model="item.diffusionXml" ></textarea>
					        	</div>
           </div>
    


          <div class="form-group">
              <label for="id" class="col-lg-2 control-label"><b> Id</b></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="id"  ng-disabled="true"  ng-model="item.id">
              </div>
         </div>
            

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
              	<button type="submit" class="btn btn-primary" ui-sref="vbsdiffusion">back to List</button>
                <button type="reset" class="btn btn-default" ng-click="remove(item)" ng-show="mode != 'VIEW'">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="saveItem(item)" ng-show="mode != 'VIEW'">Save</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  
</section>

<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>


<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities (inverse relation)
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>
													 	 	 	 	 	 							 	 	 	 	 	 				 	 	 	 	 	 	 	 	 	 	 	 	 	 	  
</section>



