
<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
  <div class="close">
    <div class="btn btn-round btn-info" ng-click="$hide()" data-title="{{ 'CLOSE' | translate }}" bs-tooltip><i class="md md-close"></i></div>
  </div>

  <div class="aside-dialog">
    <div class="aside-body bs-sidebar">

      <form class="form-floating" novalidate="novalidate" ng-submit="startSearch(savedSearch)">
        <fieldset>
          <legend><span ng-bind-html="savedSearch.icon"></span> {{cmd}} {{settings.singular}} search</legend>

		
		
			<div class="form-group filled">
		    <label class="control-label">DateTreatment</label>
                	<input type="text" class="form-control" ng-model="savedSearch.dateTreatment" data-autoclose="1" placeholder="{{ 'dateTreatment' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DocGrpNbrPage</label>
                	<input type="text" class="form-control" ng-model="savedSearch.docGrpNbrPage">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DiffusionType</label>
                    <input type="text" class="form-control" ng-model="savedSearch.diffusionType">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DiffusionAdr</label>
                    <input type="text" class="form-control" ng-model="savedSearch.diffusionAdr">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DocLocale</label>
                    <input type="text" class="form-control" ng-model="savedSearch.docLocale">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DiffusionMode</label>
                    <input type="text" class="form-control" ng-model="savedSearch.diffusionMode">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SiteCde</label>
                    <input type="text" class="form-control" ng-model="savedSearch.siteCde">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">ItRef</label>
                    <input type="text" class="form-control" ng-model="savedSearch.itRef">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DfuLogGrpIde</label>
                    <input type="text" class="form-control" ng-model="savedSearch.dfuLogGrpIde">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">MgtCde</label>
                    <input type="text" class="form-control" ng-model="savedSearch.mgtCde">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">OldDiffusion</label>
                	<input type="text" class="form-control" ng-model="savedSearch.oldDiffusion">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SplitIndex</label>
                	<input type="text" class="form-control" ng-model="savedSearch.splitIndex">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SplitTotal</label>
                	<input type="text" class="form-control" ng-model="savedSearch.splitTotal">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">ReDfuLogrGrpIde</label>
                    <input type="text" class="form-control" ng-model="savedSearch.reDfuLogrGrpIde">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">PrintColor</label>
                    <input type="text" class="form-control" ng-model="savedSearch.printColor">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">AdressNumber</label>
                    <input type="text" class="form-control" ng-model="savedSearch.adressNumber">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">OfficialName</label>
                    <input type="text" class="form-control" ng-model="savedSearch.officialName">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">DiffusionXml</label>
                    <input type="text" class="form-control" ng-model="savedSearch.diffusionXml">
                </div>
		
		

          <div class="form-group">
            <button type="button" ng-click="clearSavedSearch()" class="btn btn-lg btn-primary">{{ 'CLEAR' | translate }}</button>
            <button type="submit" class="btn btn-lg btn-primary">{{ 'SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>

	  <form class="form-floating" novalidate="novalidate" ng-submit="startElasticSearch(savedSearch)">
        <fieldset>
      
          <div class="form-group filled">
            <label class="control-label">{{ 'QUERY' | translate }}</label>
            <input type="text" class="form-control" ng-model="savedSearch.query" required>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary" >{{ 'ELASTIC_SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>
          
          
    </div>
  </div>
</div>