<section>
  <div class="page-header">
    <div class="actions" >
    </div>

    <h1>
      <i class="md md-camera"></i>
      VbsDiffusion entity
    </h1>
    <p class="lead">
      You can customize this entity...
    </p>
  </div>
</section>

<div>


    <div class="table-responsive well no-padding white no-margin">
      <h3 class="table-title"></h3>
<form>
      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
        <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
          <th>Field</th>
          <th>Translation</th>
          <th>Key</th>
          <th>Composite Key</th>
          <th>Foreign Key</th>
          <th>Inv. relation</th>
          <th>Required</th>
          <th>Indexed</th>
          <th>Main</th>
          <th>EDIT</th>
         </tr>
        </thead>
        <tbody>
		  <tr>
          	<td><b>Id</b></td>
          	<td>{{ 'Id' | translate }}</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DateTreatment</b></td>
          	<td>{{ 'DateTreatment' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.dateTreatment"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.dateTreatment"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocGrpNbrPage</b></td>
          	<td>{{ 'DocGrpNbrPage' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docGrpNbrPage"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docGrpNbrPage"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DiffusionType</b></td>
          	<td>{{ 'DiffusionType' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.diffusionType"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.diffusionType"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DiffusionAdr</b></td>
          	<td>{{ 'DiffusionAdr' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.diffusionAdr"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.diffusionAdr"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DocLocale</b></td>
          	<td>{{ 'DocLocale' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.docLocale"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.docLocale"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DiffusionMode</b></td>
          	<td>{{ 'DiffusionMode' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.diffusionMode"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.diffusionMode"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SiteCde</b></td>
          	<td>{{ 'SiteCde' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.siteCde"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.siteCde"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ItRef</b></td>
          	<td>{{ 'ItRef' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.itRef"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.itRef"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DfuLogGrpIde</b></td>
          	<td>{{ 'DfuLogGrpIde' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.dfuLogGrpIde"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.dfuLogGrpIde"/></td>
          </tr>
		  
		  <tr>
          	<td><b>MgtCde</b></td>
          	<td>{{ 'MgtCde' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.mgtCde"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.mgtCde"/></td>
          </tr>
		  
		  <tr>
          	<td><b>OldDiffusion</b></td>
          	<td>{{ 'OldDiffusion' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.oldDiffusion"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.oldDiffusion"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SplitIndex</b></td>
          	<td>{{ 'SplitIndex' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.splitIndex"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.splitIndex"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SplitTotal</b></td>
          	<td>{{ 'SplitTotal' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.splitTotal"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.splitTotal"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ReDfuLogrGrpIde</b></td>
          	<td>{{ 'ReDfuLogrGrpIde' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.reDfuLogrGrpIde"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.reDfuLogrGrpIde"/></td>
          </tr>
		  
		  <tr>
          	<td><b>PrintColor</b></td>
          	<td>{{ 'PrintColor' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.printColor"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.printColor"/></td>
          </tr>
		  
		  <tr>
          	<td><b>AdressNumber</b></td>
          	<td>{{ 'AdressNumber' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.adressNumber"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.adressNumber"/></td>
          </tr>
		  
		  <tr>
          	<td><b>OfficialName</b></td>
          	<td>{{ 'OfficialName' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.officialName"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.officialName"/></td>
          </tr>
		  
		  <tr>
          	<td><b>DiffusionXml</b></td>
          	<td>{{ 'DiffusionXml' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.diffusionXml"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.diffusionXml"/></td>
          </tr>
		  
        </tbody>
      </table>
      
      <div class="form-group">
      	<div class="col-lg-20 col-lg-offset-2">
        	<button type="submit" class="btn btn-primary" ng-click="saveConfig(configValue)">Save</button>
        </div>
      </div>
      </form>      
    </div>

<div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()"  data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="{{ 'SCROLL_TO_TOP' | translate }}" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <div class="btn btn-primary btn-round btn-lg" ui-sref="createVbsDiffusion()" data-title="New {{settings.singular}}" bs-tooltip><i class="md md-add"></i></div>
  </div>

</div>