
<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
  <div class="close">
    <div class="btn btn-round btn-info" ng-click="$hide()" data-title="{{ 'CLOSE' | translate }}" bs-tooltip><i class="md md-close"></i></div>
  </div>

  <div class="aside-dialog">
    <div class="aside-body bs-sidebar">

      <form class="form-floating" novalidate="novalidate" ng-submit="startSearch(savedSearch)">
        <fieldset>
          <legend><span ng-bind-html="savedSearch.icon"></span> {{cmd}} {{settings.singular}} search</legend>

		
		
		
						<div class="form-group filled">
            	<label class="control-label">Author</label>
            	<ui-select ng-model="savedSearch.authorId" theme="select2" title="Choose an author" search-enabled="false">
                	<ui-select-match placeholder="Choose an author">{{$select.selected.name}}</ui-select-match>
                	<ui-select-choices repeat="item in authors | filter: $select.search">
                  		<div ng-bind-html="item.name | highlight: $select.search"></div>
                  		                  			<small ng-bind-html="item.id | highlight: $select.search"></small>
                  		                	</ui-select-choices>
             	</ui-select>
		 </div>
				
		
						<div class="form-group filled">
            	<label class="control-label">Style</label>
            	<ui-select ng-model="savedSearch.styleId" theme="select2" title="Choose an style" search-enabled="false">
                	<ui-select-match placeholder="Choose an style">{{$select.selected.name}}</ui-select-match>
                	<ui-select-choices repeat="item in styles | filter: $select.search">
                  		<div ng-bind-html="item.name | highlight: $select.search"></div>
                  		                  			<small ng-bind-html="item.id | highlight: $select.search"></small>
                  		                	</ui-select-choices>
             	</ui-select>
		 </div>
				
			<div class="form-group filled">
		    <label class="control-label">Enable</label>
                	<input type="text" class="form-control" ng-model="savedSearch.enable">
    	        </div>
		
		

          <div class="form-group">
            <button type="button" ng-click="clearSavedSearch()" class="btn btn-lg btn-primary">{{ 'CLEAR' | translate }}</button>
            <button type="submit" class="btn btn-lg btn-primary">{{ 'SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>

	  <form class="form-floating" novalidate="novalidate" ng-submit="startElasticSearch(savedSearch)">
        <fieldset>
      
          <div class="form-group filled">
            <label class="control-label">{{ 'QUERY' | translate }}</label>
            <input type="text" class="form-control" ng-model="savedSearch.query" required>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary" >{{ 'ELASTIC_SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>
          
          
    </div>
  </div>
</div>