<section class="forms-basic">
  <div class="page-header">
    <h1>
      <i class="md md-input"></i>
      VbsFlowUnitSubFnd form
    </h1>
    <p class="lead">
      You can edit VbsFlowUnitSubFnd entity and see linked entities.
    </p>
  </div>

<div class="row m-b-40">

    <div class="col-md-3 col-md-push-9">
      <h5>Mode</h5>
      <p>mode: {{mode}}</p>
    </div>
    <div class="col-md-8 col-md-pull-3">
      <div class="well">
        <form class="form-horizontal">
          <fieldset>
            <legend>Main entity</legend>          
            <span class="help-block m-b-20">Please fill out the following form below.</span>


		
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label"><b>VbsFlowUnitFlowUnitId</b></label>
                          <div class="col-lg-10">
																
									<input type="text" class="form-control" id="vbsFlowUnitFlowUnitId" ng-model="item.vbsFlowUnitFlowUnitId" required ng-pattern="/^\d{0,18}(\.\d{1,2})?$/" ng-disabled="mode == 'VIEW'">  
				            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label"><b>SubFndCd</b></label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndCd" ng-model="item.subFndCd" required ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label"><b>SubFndNme</b></label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndNme" ng-model="item.subFndNme" required ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndIsin</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndIsin" ng-model="item.subFndIsin"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndShareCurrency</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndShareCurrency" ng-model="item.subFndShareCurrency"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndShareType</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndShareType" ng-model="item.subFndShareType"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndIssueForm</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndIssueForm" ng-model="item.subFndIssueForm"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndSubFndName</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndSubFndName" ng-model="item.subFndSubFndName"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndFndRef</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndFndRef" ng-model="item.subFndFndRef"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndFndNme</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndFndNme" ng-model="item.subFndFndNme"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndSdgRef</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndSdgRef" ng-model="item.subFndSdgRef"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">SubFndSdgName</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="subFndSdgName" ng-model="item.subFndSdgName"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">OpeningDate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="openingDate" ng-model="item.openingDate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">OpeningUnits</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="openingUnits" ng-model="item.openingUnits"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">ClosingDate</label>
                          <div class="col-lg-10">
					<input type="text" class="form-control" id="closingDate" ng-model="item.closingDate" data-autoclose="1" bs-datepicker ng-disabled="mode == 'VIEW'">
		        	</div>
           </div>
    
			
										
			<div class="form-group">
			            	<label for="name" class="col-lg-2 control-label">ClosingUnits</label>
                          <div class="col-lg-10">
																
				               		<input type="text" class="form-control" id="closingUnits" ng-model="item.closingUnits"  ng-disabled="mode == 'VIEW'">
               	            		        	</div>
           </div>
    


          <div class="form-group">
              <label for="id" class="col-lg-2 control-label"><b> Id</b></label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="id"  ng-disabled="true"  ng-model="item.id">
              </div>
         </div>
            

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
              	<button type="submit" class="btn btn-primary" ui-sref="vbsflowunitsubfnd">back to List</button>
                <button type="reset" class="btn btn-default" ng-click="remove(item)" ng-show="mode != 'VIEW'">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="saveItem(item)" ng-show="mode != 'VIEW'">Save</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
  
</section>

<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>


<section class="tables-data">

  <div class="page-header">
    <h1>
      <i class="md md-list"></i>
      Linked entities (inverse relation)
    </h1>
    <p class="lead">
      Todo
    </p>
  </div>
													 	 	 	 	 	 							 	 	 	 	 	 				 	 	 	 	 	 	 	 	 	 	 	 	 	 	  
</section>



