
<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
  <div class="close">
    <div class="btn btn-round btn-info" ng-click="$hide()" data-title="{{ 'CLOSE' | translate }}" bs-tooltip><i class="md md-close"></i></div>
  </div>

  <div class="aside-dialog">
    <div class="aside-body bs-sidebar">

      <form class="form-floating" novalidate="novalidate" ng-submit="startSearch(savedSearch)">
        <fieldset>
          <legend><span ng-bind-html="savedSearch.icon"></span> {{cmd}} {{settings.singular}} search</legend>

		
		
			<div class="form-group filled">
		    <label class="control-label">VbsFlowUnitFlowUnitId</label>
                	<input type="text" class="form-control" ng-model="savedSearch.vbsFlowUnitFlowUnitId">
    	        </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndCd</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndCd">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndNme</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndNme">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndIsin</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndIsin">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndShareCurrency</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndShareCurrency">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndShareType</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndShareType">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndIssueForm</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndIssueForm">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndSubFndName</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndSubFndName">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndFndRef</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndFndRef">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndFndNme</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndFndNme">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndSdgRef</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndSdgRef">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">SubFndSdgName</label>
                    <input type="text" class="form-control" ng-model="savedSearch.subFndSdgName">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">OpeningDate</label>
                	<input type="text" class="form-control" ng-model="savedSearch.openingDate" data-autoclose="1" placeholder="{{ 'openingDate' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">OpeningUnits</label>
                    <input type="text" class="form-control" ng-model="savedSearch.openingUnits">
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">ClosingDate</label>
                	<input type="text" class="form-control" ng-model="savedSearch.closingDate" data-autoclose="1" placeholder="{{ 'closingDate' | translate }}" bs-datepicker>
                </div>
		
		
			<div class="form-group filled">
		    <label class="control-label">ClosingUnits</label>
                    <input type="text" class="form-control" ng-model="savedSearch.closingUnits">
                </div>
		
		

          <div class="form-group">
            <button type="button" ng-click="clearSavedSearch()" class="btn btn-lg btn-primary">{{ 'CLEAR' | translate }}</button>
            <button type="submit" class="btn btn-lg btn-primary">{{ 'SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>

	  <form class="form-floating" novalidate="novalidate" ng-submit="startElasticSearch(savedSearch)">
        <fieldset>
      
          <div class="form-group filled">
            <label class="control-label">{{ 'QUERY' | translate }}</label>
            <input type="text" class="form-control" ng-model="savedSearch.query" required>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary" >{{ 'ELASTIC_SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>
          
          
    </div>
  </div>
</div>