<section>
  <div class="page-header">
    <div class="actions" >
    </div>

    <h1>
      <i class="md md-camera"></i>
      VbsFlowUnitSubFnd entity
    </h1>
    <p class="lead">
      You can customize this entity...
    </p>
  </div>
</section>

<div>


    <div class="table-responsive well no-padding white no-margin">
      <h3 class="table-title"></h3>
<form>
      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
        <tr fsm-sticky-header scroll-body="'#table-area-1'" scroll-stop="64">
          <th>Field</th>
          <th>Translation</th>
          <th>Key</th>
          <th>Composite Key</th>
          <th>Foreign Key</th>
          <th>Inv. relation</th>
          <th>Required</th>
          <th>Indexed</th>
          <th>Main</th>
          <th>EDIT</th>
         </tr>
        </thead>
        <tbody>
		  <tr>
          	<td><b>Id</b></td>
          	<td>{{ 'Id' | translate }}</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.id"/></td>
          </tr>
		  
		  <tr>
          	<td><b>VbsFlowUnitFlowUnitId</b></td>
          	<td>{{ 'VbsFlowUnitFlowUnitId' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.vbsFlowUnitFlowUnitId"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.vbsFlowUnitFlowUnitId"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndCd</b></td>
          	<td>{{ 'SubFndCd' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndCd"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndCd"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndNme</b></td>
          	<td>{{ 'SubFndNme' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>true</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndNme"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndNme"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndIsin</b></td>
          	<td>{{ 'SubFndIsin' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndIsin"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndIsin"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndShareCurrency</b></td>
          	<td>{{ 'SubFndShareCurrency' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndShareCurrency"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndShareCurrency"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndShareType</b></td>
          	<td>{{ 'SubFndShareType' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndShareType"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndShareType"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndIssueForm</b></td>
          	<td>{{ 'SubFndIssueForm' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndIssueForm"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndIssueForm"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndSubFndName</b></td>
          	<td>{{ 'SubFndSubFndName' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndSubFndName"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndSubFndName"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndFndRef</b></td>
          	<td>{{ 'SubFndFndRef' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndFndRef"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndFndRef"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndFndNme</b></td>
          	<td>{{ 'SubFndFndNme' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndFndNme"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndFndNme"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndSdgRef</b></td>
          	<td>{{ 'SubFndSdgRef' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndSdgRef"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndSdgRef"/></td>
          </tr>
		  
		  <tr>
          	<td><b>SubFndSdgName</b></td>
          	<td>{{ 'SubFndSdgName' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.subFndSdgName"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.subFndSdgName"/></td>
          </tr>
		  
		  <tr>
          	<td><b>OpeningDate</b></td>
          	<td>{{ 'OpeningDate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.openingDate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.openingDate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>OpeningUnits</b></td>
          	<td>{{ 'OpeningUnits' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.openingUnits"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.openingUnits"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ClosingDate</b></td>
          	<td>{{ 'ClosingDate' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.closingDate"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.closingDate"/></td>
          </tr>
		  
		  <tr>
          	<td><b>ClosingUnits</b></td>
          	<td>{{ 'ClosingUnits' | translate }}</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	          	<td>TODO: inverse relation</td>
          	          		<td>&nbsp;</td>
          	          	          		<td>&nbsp;</td>
          	            <td><input type="checkbox" class="relative" ng-model="configValue.closingUnits"/></td>
            <td><input type="checkbox" class="relative" ng-model="configValue.closingUnits"/></td>
          </tr>
		  
        </tbody>
      </table>
      
      <div class="form-group">
      	<div class="col-lg-20 col-lg-offset-2">
        	<button type="submit" class="btn btn-primary" ng-click="saveConfig(configValue)">Save</button>
        </div>
      </div>
      </form>      
    </div>

<div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()"  data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="{{ 'SCROLL_TO_TOP' | translate }}" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <div class="btn btn-primary btn-round btn-lg" ui-sref="createVbsFlowUnitSubFnd()" data-title="New {{settings.singular}}" bs-tooltip><i class="md md-add"></i></div>
  </div>

</div>